p {
  color:red;
  font-family:verdana;
  text-align:justify;
}


h1 {
  color: green;
  font-family:verdana;
  text-align:justify;
}


h2 {
  color: purple;
  font-family:verdana;
  text-align:justify;
}